<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Users List</title>
</head>
<body>
<div th:insert="~{Components/userHeader :: head}"></div>

<div class="sidebar-content">
	<div th:insert="~{Components/userHeader :: sideNav}"></div>

	
	<div class="content">
		<table class = "table table-condensed">
			<tr>
				<th>User Name</th>
				<th>Role</th>
				<th>Email</th>
				<th>Image</th>
				<th>Actions</th>
			</tr>
			
			
			<tr th:each="user: ${users}">
				<td th:text="${user.name}" />
			    <td th:text="${user.role}" />
			    <td th:text="${user.email}" />
			    <td>
			   	<img  class="my_profile_picture" th:src="@{'/img/'+${user.imageUrl}}"/>
			   	</td>
			    <td>
			    <a th:href="@{/edit/{id}(id=${user.id})}"> Update</a>
			    </td>
			</tr>
		</table>
	</div>
</div>



</body>
</html>